# Created by https://www.toptal.com/developers/gitignore/api/unity,visualstudio,rider,csharp
# Edit at https://www.toptal.com/developers/gitignore?templates=unity,visualstudio,rider,csharp

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
orBIT/.vs/orBIT/v17/.suo
orBIT/UpgradeLog.htm
